@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
}

.topBar {
  background-color: #1577cc;
  height: 150px;
  color: #fff;
  padding: 20px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.websiteName {
  margin-left: 150px;
  margin-top: 10px;
  float: left;
  font-size: 30px;
  font-weight: 700;
}

.pageTitle {
  text-align: center;
  font-size: 40px;
  font-weight: 550;
  flex-grow: 1;
}

.content {
  display: flex;
  margin-top: 50px;
  margin-left: 280px;
  width: 940px;
  height: 350px;
  box-shadow: 0px 2px 16px rgba(113, 112, 112, 0.273);
  border-radius: 10px;
}

.conten::before {
  content: '';
  position: absolute;
  top: 0;
  left: 470px;
  height: 100%;
  width: 1px;
  background-color: #fff;
}

.leftSide {
  position: relative;
  background-color: #d3e2f9;
  border-radius: 10px 0 0 10px;
  padding: 30px;
  width: 470px;
  font-size: 20px;
  font-weight: bold;
  color: black;
}

.button {
  position: absolute;
  left: 290px;
  bottom: 25px;
  height: 40px;
  width: 150px;
  margin-top: 30px;
  border: none;
  border-radius: 10px;
  background-color: #3242d6;
  color: white;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}

.button:hover {
  background-color: #1524ab;
  cursor: pointer;
}

.textInput {
  border-radius: 10px;
  padding: 10px;
  margin-top: 20px;
  border: none;
  background-color: #fff;
  box-sizing: border-box;
  height: 180px;
  width: 100%;
}

.rightSide {
  position: relative;
  background-color: #F5F7FA;
  border-radius: 0 10px 10px 0;
  padding: 30px;
  width: 470px;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
}

.title {
  color: black;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

.deleteButton {
  position: absolute;
  bottom: 25px;
  left: 320px;
  height: 40px;
  width: 120px;
  border: none;
  border-radius: 10px;
  background-color: #3242d6;
  color: white;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  cursor: pointer;
}

.deleteButton:hover {
  background-color: #1524ab;
}

.titre {
  display: flex;
}

.tags {
  color: #959595;
  margin-bottom: 0px;
  font-size: 12px;
  font-family: 'Raleway', sans-serif;
  font-weight: light;
}

.percentage {
  margin-left: 300px;
  margin-bottom: 0px;
  color: #959595;
  font-size: 12px;
  font-family: 'Raleway', 'sans-serif';
  font-weight: light,
}

.line {
  font-size: 11px;
  font-family: Arial, Helvetica, sans-serif;
  color: #95959533;
}

.percentage-num {
  margin-left: 300px;
  color: #5e5e5e;
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: light;
  display: inline-block;
}

.second-page {
  background-color: #95afc6;
  border: none;
  height: 50px;
  width: 200px;
  margin-left: 20px;
  margin-right: 30px;
  margin-top: 50px;
  border-radius: 20px;
  font-size: 18px;
  font-weight: bold;
  color: white;
}


.home {
  background-color: #95afc6;
  border: none;
  height: 50px;
  width: 100px;
  margin-top: 50px;
  border-radius: 20px;
  font-size: 18px;
  font-weight: bold;
  color: white;
}

.home:hover {
  cursor: pointer;
  background-color: #3742a8
}

.second-page:hover {
  cursor: pointer;
  background-color: #3742a8;
}

.home:active {
  background-color: #0b156d;
}

.hashtag {
  padding: 8px;
  padding-left: 12px;
  border: 1px solid #ccc;
  border-radius: 20px;
  font-size: 16px;
  margin-left: 20px;
  margin-bottom: 15 px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.hashtag::placeholder {
  color: #a8a7a7;
  font-size: 13px;
  position: absolute;
  margin-top: 1px;
}

.hashtag:focus {
  border: 2px solid #1577cc;
  outline: none;
}

.num-tweet {
  width: 50px;
  padding: 8px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 20px;
  font-size: 16px;
  margin-left: 20px;
  margin-right: 30px;
  margin-top: 70px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.num-tweet:focus {
  border: 2px solid #1577cc;
  outline: none;
}

.numlabel {
  margin-left: 240px;
  color: #1577cc;
  font-size: 15px;
  font-weight: bold;
}

.hashlabel {
  color: #1577cc;
  font-size: 15px;
  font-weight: bold;
}

.homehome {
  background-color: #0b156d;
  border: none;
  height: 50px;
  width: 100px;
  margin-top: 50px;
  border-radius: 20px;
  font-size: 18px;
  font-weight: bold;
  color: white;

}

.second-pagetwit {
  background-color: #0b156d;
  border: none;
  height: 50px;
  width: 200px;
  margin-left: 20px;
  margin-right: 30px;
  margin-top: 50px;
  border-radius: 20px;
  font-size: 18px;
  font-weight: bold;
  color: white;
}
.analysis {
  border-radius: 20px;
  padding-top: 1px;
  background-color: #fafafa;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  height: 300px;
  width: 1000px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.buttonanalysis{
  margin-left: 50px;
  bottom: 25px;
  left: 320px;
  height: 40px;
  width: 150px;
  border: none;
  border-radius: 10px;
  background-color: #3242d6;
  color: white;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}
.buttonanalysis:hover{
  background-color:#1524ab;
}
.clean{
  margin-left: 75%;
  margin-top: 2%;
  bottom: 25px;
  left: 320px;
  height: 40px;
  width: 120px;
  border: none;
  border-radius: 10px;
  background-color: #3242d6;
  color: white;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}
.clean:hover{
  background-color:#1524ab;
}
.result{
  margin-top: 20px;
  margin-left: 30px;
  margin-bottom: 30px;
  font-size: 20px;
  font-weight: bold;
}
.Sentp{
  margin-top: 2%;
  flex: 0%;
  font-size: 13px;
  font-weight: bold;
  color: #027c31;
}
.Sentng{
  margin-top: 2%;
  flex: 0%;
  font-size: 13px;
  font-weight: bold;
  color: #bd1515;
}
.Sentn{
  margin-top: 2%;
  flex: 0%;
  font-size: 13px;
  font-weight: bold;
  color: #5e5e5e;
}
.cont {
  margin-left: 30px;
  display: flex;
  font-size: 12px;
  font-weight: normal;
  color: #878787;
}

.tagg {
  flex: 0%;
  margin-right: 0;
}
.tweet{
  flex:55%
}
.linee{
  margin-left: 30px;
  font-size: 11px;
  font-family: Arial, Helvetica, sans-serif;
  color: #95959533;
}
.output {
  color: #5e5e5e;
  flex: 55%; 
  font-size: 12px;
  font-weight: bold;
  display: inline-block;
}
.outputt {
  color: #515050;
  margin-top: 2%;
  flex: 55%; 
  font-family:Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: bold;
}
.contt{
  margin-left: 30px;
  display: flex;
  font-size: 12px;
  font-weight: bold;
  color: #3b3b3b;
}
.pos{
  margin-top: 30px;
  color: #027c31;
  display: inline-block;

}
.neg{
  margin-top: 10px;
  color: #bd1515;
  display: inline-block;

}
.net{
  margin-top: 10px;
  margin-right: 20px;
  display: inline-block;
}
.netper{
color: #3b3b3b;
display: inline-block;
margin-left: 312px;
font-family: Arial, Helvetica, sans-serif;
}
.negper{
  color: #3b3b3b;
  display: inline-block;
  margin-left: 305px;
  font-family: Arial, Helvetica, sans-serif;
}
.posper{
  color: #3b3b3b;
  display: inline-block;
  margin-left: 305px;
  font-family: Arial, Helvetica, sans-serif;
  }